@import "src/assets/variables";

.settings-card {
  &__wrapper {
    width: 25%;
    min-width: 350px;
    padding: 12px;
  }

  &__container {
    text-align: center;
    background-color: $base-color;
    border-radius: 10px;
    padding: 24px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 36px;
    margin-bottom: 16px;
  }

  &__button-edit, &__button-save {
    cursor: pointer;
    width: 46px;
    border: none;
    background: transparent;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    font-family: sans-serif;
    width: 100%;
    font-size: 32px;
    border: none;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 16px;

    &:focus-visible {
      outline: none;
    }

    &-wrapper {
      display: flex;
      position: relative;
    }

    &-text {
      position: absolute;
      right: 12px;
      top: 24px;
    }

    &--title {
      width: calc(100% - 32px);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 32px;
    padding: 4px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    position: relative;

    &-success {
      position: absolute;
      left: 8px;
      width: 32px;
      margin-left: 12px;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
