@import "src/assets/variables";

.login-form {
  width: 30%;
  min-width: 500px;
  padding: 24px;
  background-color: $base-color;
  border-radius: 10px;

  &__input {
    font-family: sans-serif;
    width: 100%;
    font-size: 32px;
    border: none;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 16px;
    background-color: $base-color-dark;

    &:focus-visible {
      outline: none;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 32px;
    padding: 4px;
    border: none;
    border-radius: 10px;
    background-color: $orange;
    color: #fff;
    cursor: pointer;
    margin-bottom: 16px;
    width: 100%;

    &--sign-in {
      margin-top: 32px;
      background-color: $green;
    }
  }
}

