$base-color: #ffff;
$base-color-dark: #E5E5E5;
$base-color-light: #fff350;

$secondary-color: #26a69a;
$secondary-color-light: #64d8cb;

$green: #97d325;
$blue: #27b2eb;
$red: #f03800;
$orange: #ff9100;
$yellow: #ffda2d;

